<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<title>Market Finder</title>
	<meta name="description" content="Find a local farmers market!" />
	
	<meta name="viewport" content="width=device-width" />
	
	<link rel="stylesheet" href="/static/css/tweet.css" media="all" />
	<link rel="stylesheet" href="/static/css/style.css" />
	
	<script src="/static/js/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
	<div class="wrapper cf" style="box-shadow: 5px 5px 5px #888;">
		<header>
			<div id="logo" class="cf">
				<a href="/"><h1 style="text-align: center; font-family: mensch; line-height: 1.3em;">Market-Finder</h1></a>
				<p style="text-align: center; font-family: mensch; line-height: 1.3em;"><i>Find a farmers market near you!</i></p>
			</div>
			<nav class="cf"></nav>
		</header>

		<div role="main" id="main" class="cf">
			<div class="page-content">
	        	<div class="entry-content cf">

	        		{% if market %}
						<script type="text/javascript">
							function initialize() {
								var latlng = new google.maps.LatLng({{ market.pos[1] }}, {{ market.pos[0] }});
								var myOptions = {
								  zoom: 12,
								  center: latlng,
								  mapTypeId: google.maps.MapTypeId.ROADMAP
							};
							var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
							var marker = new google.maps.Marker({
								position: latlng, 
								map: map, 
								title:"{{ market.name }}"
							});
							}
						</script>
						<h2 class="heading">{{ market.name }}</h2>
						<div id="map_canvas"></div>
						<div id="contenty" style="float: left;">
							{% if market.website %}<p>Website: <a href="{{ market.website }}">{{ market.website }}</a></p>{% endif %}
							{% if market.loc %}<p>Description: {{ market.loc }}</p>{% endif %}
							{% if credit %}<p>Takes Credit: {{ credit }}</p>{% endif %}
							<p>Location: <a href="https://maps.google.com/maps?daddr={{ market.pos[1] }} {{ market.pos[0] }}">{{ market.street }}<br /><div style="padding-left: 69px">{{ market.city }}, {{ market.state}}, {{ market.zipcode }}</div></a></p>
						</div>
						{% if products %}
							<table class="fancy" style="float: right;">
								<tr><th>Product</th><th>Sold here?</th></tr>
								{% for prod in products %}
									<tr>
										<td>{{ prod[0] }}</td><td>{{ prod[1] }}</td>
									</tr>
								{% endfor %}
							</table>
						{% endif %}
						<script>initialize();</script>
						
					{% else %}
						<p style="padding-bottom: 20px;">Market Finder is a cool tool that takes the awesome data provided by <a href="http://data.gov">Data.gov</a> and allows you to easily find a farmers market near you, and even get directions to it! If you use this site on a modernish web browser, or your mobile device, you can even search by your location making it a painless and easy process to eat healthier and save the enviroment! Woo organics!</p>
						<h2 class="heading" id="btitle">Manual Search</h2>
						<div style="padding-bottom: 10px;">
							<a href="#" id="bsearch" class="link-button blue">Search!</a> 
							<a href="#" id="blocation" class="link-button">Use my location!</a>
						</div>
						<hr>
						<div id="form">
							<p id="forminfo">
								To find a market, just fill in a few of the fields below (none of them are required), and we'll try
								to find markets that match your query!
							</p>
							<form id="contactForm" class="form" action="/search" method="post" />
								<fieldset>
									<p>
										<label for="city">City</label>
										<input name="city" id="city" type="text" class="form-poshytip" title="A city" />
									</p>
									<p>
										<label for="state">State</label>
										<input name="state" id="state" type="text" class="form-poshytip" title="A state" />
									</p>
									<p>
										<label for="zip">Zipcode</label>
										<input name="zip" id="zip" type="text" class="form-poshytip" title="A zipcode" />
									</p>
									<p><input type="button" value="Search" id="submity"/> <span id="error" class="warning"></span></p>
								</fieldset>
							</form>
						</div>
						<div id="location">
							<p id="locinfo">Using your browser we'll try to pinpoint your location. To protect your privacy, we dont store <i>any</i> location data on our servers!
							<a href="#" id="getloc" class="link-button red">Ok, Find my location!</a>
						</div>
						<div id="results"></div>
					{% endif %}	
					<p style="font-size: 12px; padding-top: 20px; float: left;">Disclamer: Some of the data on this site may be innacurate or incomplete due to the limitations of the data it works off of. No data was collected or modified from the origin data.gov content, avaliable <a href="https://explore.data.gov/Agriculture/Farmers-Markets-Geographic-Data/wfna-38ey">here!</a></p>			
				</div>
			</div>		
		</div>
		<footer>
			<div id="bottom">
				<div id="widget-trigger-holder"></div>
				<div id="content">Made by <a href="http://twitter.com/b1naryth1ef">B1naryTh1ef</a> as an <a href="https://bitbucket.org/b1naryth1ef/market-finder">open source</a> weekend project | Data taken from <a href="http://data.gov/">Data.gov</a></div>
			</div>
		</footer>
	</div>
	<!-- Google CDN w/ fallback -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery-1.7.1.min.js"><\/script>')</script>

	<script src="/static/js/scripts.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29805605-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>